html{
    scroll-behavior: smooth;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img,video{
    max-width: 100%;
    height: auto;
}
h1{
    color:blueviolet;
}

h2{
    color:#ff9999
}

iframe{
    width: 80%;
    height: 400px;
}

body {
    background-color: #333333; /* Gris oscuro */
    color: #ffffff; /* Texto blanco para contrastar con el fondo oscuro */
}

.concept {
    color: #ff9900; /* Naranja */
}

.keyword {
    color: #00ff00;
}

a {
    color: pink; /* Cambia el color de los enlaces a rosa */
}

.xd {
    color: limegreen; /* Define el color verde limón para los elementos con la clase "xd" */
}

.media {
    color: #2ecc71; /* Utilizamos un tono verde oscuro */
    font-family: "Courier New", Courier, monospace; /* Utilizamos una fuente de tipo monoespaciada para simular el estilo de código */
    text-shadow: 0 0 5px #2ecc71, 0 0 10px #2ecc71, 0 0 15px #2ecc71, 0 0 20px #2ecc71, 0 0 25px #2ecc71; /* Agregamos sombras al texto */
}

